@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
   
}
p {
    text-align: justify;
}
body {
    background-image: linear-gradient(to right, #F9D3C2,#C2EFF9);
}
main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #718b9180;
}
h1 {
    color: #226A7A;
    text-align: center;
    text-shadow: 1px 1px 2px #11394280;
}
h2 {
    color: #7A3C22;
}